{% extends 'base.html' %}
{% block title %}Create A New Profile{% endblock %}
{% block content %}

{% if user.is_authenticated %}

    <h1>Create Profile</h1>
    <br/>
    
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Create</button>
        </form>
    </div>
    
{% else %}

    <div class="alert alert-danger" role="alert">
        You are not allowed!
    <a href="{% url 'home'%}" class="float-right">Return Home</a>
    </div>

{% endif %}

{% endblock %}

