{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}

<h1>Change Password</h1>
<br/>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="InputPassword" class="form-label" style = "width: 100%;">Password
            <span id = "password-error" class= "text-danger js-error" style = "float:right;"></span></label>
            <input type="password" class="form-control" id="contact-password" onkeyup = "validatePasswordCreation();"
            name="new_password1" placeholder="Please Enter Your Password">
        </div>
        <div class="form-group">
            <label for="InputPassword" class="form-label" style = "width: 100%;">Confirm Password
            <span id = "confirm-password-error" class= "text-danger js-error" style = "float:right;"></span></label>
            <input type="password" class="form-control" id="contact-confirm-password" onkeyup = "validateConfirmPassword();"
            name="new_password2" placeholder="Please Enter Your Password Again">
        </div>
        <button type="submit" class="btn btn-secondary" onclick = "return validateResetPasswordForm();">Change Password</button>
    </form>
    <div style = "display: none;" id = "reset-password-submit-error" class="js-error text-center text-lg-start mt-4 pt-2 alert alert-danger" role="alert"></div>
</div>

{% endblock %}