{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}

<h1>Reset Password</h1>
<br/>
 
<div name = "login" class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="InputEmail" class="form-label" style = "width: 100%;">E Mail
            <span id = "email-error" class= "text-danger js-error" style = "float:right;"></span></label>
            <input type="text" class="form-control" id="contact-email" onkeyup = "validateEmail();"
            name="email" placeholder="Please Enter Your Email">
        </div>
        <button class="btn btn-secondary" onclick = "return validateResetPasswordForm();">Send Request</button>
    </form>
    <div style = "display: none;" id = "reset-password-submit-error" class="js-error text-center text-lg-start mt-4 pt-2 alert alert-danger" role="alert"></div>
</div>

{% endblock %}